
@import '~nativescript-theme-core/css/core.light.css';

.btn {
    font-size: 18;
    border-radius: 5;
}

.btn-change{
    background-color:#30bcff;
    border-color:#30bcff;
    color:#fff;
}

.gl-20{
    background-color:pink;
}
.clock{
    margin-top: 15;
    background-color:#e1a8f9;
    height: 50;
}